#cointoss {
    text-align: center;
    font-size: 2em;
}


#boardcontainer {
    margin: 2% auto;
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

div.gameboardplayercontainer {
    width: 1fr;
    flex-basis: 1fr;
}

#exterior {
    display: inline-block;
}

#board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3%;
    background-color: hsl(206, 50%, 50%);
    border: black solid 1px;
    align-content: center;
    text-align: center;
    padding: 4%;
    margin: 0%;
    border-radius: 15px;
    width: 103%;
    height: 100%;

  }
  
  div.box {
    text-align: center;
    font-size: 8em;
    line-height: .9em;
    background-color: hsl(206, 50%, 80%);
    width: 162px;
    height: 162px;
  }
  
  #box1A {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  #box1B {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
   }

  #box1C {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
   }
   
  #box2A {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  #box2B {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }

  #box2C {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
  }

  #box3A {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }

  #box3B {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
  }

  #box3C {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
  }

.playerphoto {
    display: inline-block;
    margin: 2%;
    padding: 2%;
    align-content: center;

}

span.name {
    text-align: center;
    margin: auto;
}