
#boardcontainer {
    margin: 2% auto;
    align-self: center;
    align-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1%;
    background-color: hsl(206, 50%, 50%);
    border: black solid 1px;
    height: 80%;
    align-content: center;
    text-align: center;
    margin: 2%, auto;
    position: relative;
    padding: 2%;
    border-radius: 15px;
    grid-row: 1 / 4;
    grid-column: 2 / 5;

    flex-basis: 3fr;
    min-width: 50%;
    min-height: 75%;
  }
  
  .box {
    border: red, solid, 5px;
    text-align: center;
    height: 80%;
    width: 80%;
    margin: 1%;
    padding: 2%;
    font-size: 5em;
    border-radius: 0px;
    background-color: hsl(206, 50%, 80%);
  }
  
  #box1A {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
   }

  #box1B {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
   }

  #box1C {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
   }
   
  #box2A {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  #box2B {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }

  #box2C {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
  }

  #box3A {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }

  #box3B {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
  }

  #box3C {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
  }


div.gameboardplayercontainer {
    width: 1fr;
    display: inline-block;
    overflow: hidden;
}

.playerphoto {
    display: inline-block;
    margin: 0% 3%;
    padding: 3%;
    max-width: fit-content;
    max-height: fit-content;
    align-content: center;
    flex-basis: 1fr;
}

#photo1 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

#photo2 {
    grid-row: 2 / 3;
    grid-column: 5 / 6;
}